<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>支付结果页</h2>
  <h5>url地址为：</h5>
  <p>http://127.0.0.1:3000/pay/payReturn?charset=utf-8&out_trade_no=456123789&method=alipay.trade.page.pay.return&total_amount=0.01&sign=TeQLsyC974mWOKxEP0D%2BVrN02pyfTR%2F%2BrbfmnZimIw%2FSWmdljrrvC8DQtkS3P%2BUg53U5bjRf0ufFvA1EKesdCs0rGVoSPkmCDSKKCCPcSR64tObJmcahm3qxOxu1zjJgRYdCD9BSlENkLg%2FVaGBNjC%2Bi55WL36s%2Fazf22MEnrRuvYXu2ROsp9oIh8Ta00EQQD0cyyAV%2Bi8iT8iu7Fw0KbKsqLMZiEy6rf%2BW%2BeMfTWagiZeJFmt6X8u0IVtl67dhlH3sYgMB%2B%2BVbzeP2di7VEtrgJg7csvZkRlDoUaHL64MVRSdaro8VV197tmV63dwkCM0OIkT71%2Bc%2BoYO8ttOdnLg%3D%3D&trade_no=2019082422001434050527797958&auth_app_id=2018122062672017&version=1.0&app_id=2018122062672017&sign_type=RSA2&seller_id=2088821008799161&timestamp=2019-08-24+18%3A38%3A43</p>
</body>
</html>