<%- include ../public/pageHeader.html %>

<div class="iframe-content">
  <h1>添加商品类型属性</h1>
  <form method="post" action="/admin/goodsTypeAttr/doAdd">
    <input type="hidden" name="_csrf" value="<%= csrf %>">
    <input type="hidden" name="cate_id" value="<%= cate_id %>">
    <div class="form-group">
      <label for="title">名称</label>
      <input type="text" class="form-control" id="title" name="title" required />
    </div>
    <div class="form-group">
      <label>类型</label>
      <div class="radio">
        <label>
          <input type="radio" name="attr_type" value="1" checked>
          单行文本框
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="attr_type" value="2" >
          多行文本框
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="attr_type" value="3" >
          从以下列表选择
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="attr_value">可选值列表(一行为一个选项)</label>
      <textarea class="form-control" rows="3" id="attr_value" name="attr_value" disabled></textarea>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
  </form>
</div>

<%- include ../public/pageFooter.html %>
<script>
  $("input[name='attr_type']").change(function(){
    if($(this).val() == 3){
      $('#attr_value').attr('disabled', false)
    }else{
      $('#attr_value').attr('disabled', true)
    }
  });
</script>