<%- include ../public/pageHeader.html %>
<link rel="stylesheet" href="../../../public/plugin/wangEditor/wangEditor.min.css">
<div class="iframe-content">
  <h1>添加商品</h1>
  <form method="post" action="/admin/goods/doAdd?_csrf=<%= csrf %>" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">名称</label>
      <input type="text" class="form-control" id="title" name="title" required />
    </div>
    <div class="form-group">
      <label for="description">描述</label>
      <textarea class="form-control" rows="3" id="description" name="description" required></textarea>
    </div>
    <div id="editor"></div>
    <textarea name="content" id="content" style="display: none"></textarea>
    <button type="submit" class="btn btn-primary">提交</button>
  </form>
</div>

<%- include ../public/pageFooter.html %>
<script src="../../../public/plugin/wangEditor/wangEditor.min.js"></script>
<script>
  let E = window.wangEditor
  let editor = new E('#editor')
  let $content = $('#content');
  editor.customConfig.onchange = function (html) {
    // 监控变化，同步更新到 textarea
    $content.val(html)
  }
  editor.customConfig.uploadImgServer = '/admin/goods/editorUpload'; // 上传图片到服务器文件夹
  editor.customConfig.uploadFileName = 'imgFile'; // 图片name
  editor.create();
  // 初始化 textarea 的值
  $content.val(editor.txt.html())
</script>