<%- include ../public/pageHeader.html %>
<link rel="stylesheet" href="../../../public/plugin/wangEditor/wangEditor.min.css">
<link rel="stylesheet" href="../../../public/plugin/webuploader/css/diyUpload.css">
<link rel="stylesheet" href="../../../public/plugin/webuploader/css/webuploader.css">
<div class="iframe-content goods">
  <h1>添加商品</h1>
  <form method="post" action="/admin/goods/doAdd?_csrf=<%= csrf %>" enctype="multipart/form-data">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#general" data-toggle="tab">通用信息</a></li>
      <li><a href="#detail" data-toggle="tab">详细描述</a></li>
      <li><a href="#attribute" data-toggle="tab">规格与包装</a></li>
      <li><a href="#photo" data-toggle="tab">商品相册</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="general">
        <div class="form-group">
          <label for="title">名称</label>
          <input type="text" class="form-control" id="title" name="title" required />
        </div>
        <div class="form-group">
          <label for="price">价格</label>
          <input type="number" class="form-control" id="price" name="price" required />
        </div>
        <div class="form-group">
          <label for="description">描述</label>
          <textarea class="form-control" rows="3" id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="goods_img">商品缩略图</label>
          <input type="file" id="goods_img" name="goods_img" required />
        </div>
      </div>
      <div class="tab-pane" id="detail">
        <div id="editor"></div>
        <textarea name="content" id="content" style="display: none"></textarea>
      </div>
      <div class="tab-pane" id="attribute">
        <div class="form-group">
          <label for="goods_type_id">商品类型</label>
          <select class="form-control" name="goods_type_id" id="goods_type_id">
            <option value="">--请选择--</option>
            <% for(let item of goodsType) { %>
            <option value="<%= item.id %>"><%= item.title %></option>
            <% } %>
          </select>
        </div>
      </div>
      <div class="tab-pane" id="photo">
        <div id="photoLib" class="photoLib"></div>
        <div id="photoList"></div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
  </form>
</div>

<%- include ../public/pageFooter.html %>
<script src="../../../public/plugin/wangEditor/wangEditor.min.js"></script>
<script src="../../../public/plugin/webuploader/js/webuploader.html5only.min.js"></script>
<script src="../../../public/plugin/webuploader/js/diyUpload.js"></script>
<script>
  //关联商品类型
  $('#goods_type_id').change(function () {
    var cate_id = $(this).val();
    var data = '';
    $.get('/admin/goods/goodsTypeAttribute?cate_id=' + cate_id, function (response) {
      console.log(response.result);
      data = response.result;
      console.log(data.length);
      var str = "";
      for (var i = 0; i < data.length; i++) {
        if (data[i].attr_type == 1) {
          str += '<li><span>' + data[i].title + ': 　</span><input type="hidden" name="attr_id_list" value="' + data[i]._id + '" />  <input type="text" name="attr_value_list" /></li>'
        } else if (data[i].attr_type == 2) {
          str += '<li><span>' + data[i].title + ': 　</span> <input type="hidden" name="attr_id_list" value="' + data[i]._id + '">  <textarea cols="50" rows="3" name="attr_value_list"></textarea></li>'
        } else {
          var arr = data[i].attr_value.split('\n');
          str += '<li><span>' + data[i].title + ': 　</span><input type="hidden" name="attr_id_list" value="' + data[i]._id + '">';
          str += '<select name="attr_value_list">';
          for (var j = 0; j < arr.length; j++) {
            str += '<option value="' + arr[j] + '">' + arr[j] + '</option>';
          }
          str += '</select>';
          str += '</li>';
        }
      }
      $('#goods_type_attribute').html(str);
    })
  })

  // 富文本
  let E = window.wangEditor
  let editor = new E('#editor')
  let $content = $('#content');
  editor.customConfig.onchange = function (html) {
    // 监控变化，同步更新到 textarea
    $content.val(html)
  }
  editor.customConfig.uploadImgServer = '/admin/goods/editorUpload'; // 上传图片到服务器文件夹
  editor.customConfig.uploadFileName = 'imgFile'; // 图片name
  editor.create();
  // 初始化 textarea 的值
  $content.val(editor.txt.html())

  // 批量上传图片        
  $('#photoLib').diyUpload({
    url: '/admin/goods/editorUpload',
    success: function (res) {
      let photoStr = '<input type="hidden" name="goods_image_list" value=' + res.data[0] + ' />';
      $('#photoList').append(photoStr);
    },
    error: function (err) {
      console.info(err);
    }
  });
</script>