{% include "../public/pageHeader.html" %}

<div class="iframe-content">
	<h1 class="flex">
		<span>商品列表</span>
		<a href="/admin/goods/add" class="btn btn-primary">添加商品</a>
	</h1>
	<table class="table table-hover">
		<tr>
			<th>id</th>
			<th>缩略图</th>
			<th>名称</th>
			<th>价格</th>
			<th>库存</th>
			<th>创建时间</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		{% for item in goods %}
		<tr>
			<td>{{ item.id }}</td>
			<td><img src="{{ item.thumbnail }}" width="80px" alt=""></td>
			<td>{{ item.title }}</td>
			<td>{{ item.price }}</td>
			<td>{{ item.stock }}</td>
			<td>{{ helper.formatDate(item.add_time) }}</td>
			<td>
				{% if item.status == 1 %}
					<img src="../../../public/img/yes.gif" onclick="app.changeStatus(this,'goods','{{item.id}}')" alt="">
				{% else %}
					<img src="../../../public/img/no.gif" onclick="app.changeStatus(this,'goods','{{item.id}}')" alt="">
				{% endif %}
			</td>
			<td>
				<a class="btn btn-primary" href="/admin/goods/edit?id={{ item.id }}">修改</a>
				<a class="btn btn-danger delete" href="/admin/delete?model=goods&id={{ item.id }}">删除</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	<nav aria-label="Page navigation" class="pages-box">
		<ul class="pagination">
			<li>
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li>
				<a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>

{% include "../public/pageFooter.html" %}
