{% include "../public/pageHeader.html" %}

<div class="iframe-content">
	<h1 class="flex">
		<span>商品类型</span>
		<a href="/admin/goodsType/add" class="btn btn-primary">添加商品类型</a>
	</h1>
	<table class="table table-hover">
		<tr>
			<th>名称</th>
			<th>描述</th>
			<th>创建时间</th>
			<th>操作</th>
		</tr>
		{% for item in goodsType %}
		<tr>
			<td>{{ item.title }}</td>
			<td>{{ item.description }}</td>
			<td>{{ helper.formatDate(item.add_time) }}</td>
			<td>
				<a href="/admin/goodsTypeAttr?type_id={{ item.id }}" style="text-decoration: underline">属性列表</a>　
				<a href="/admin/goodsType/edit?id={{ item.id }}"><i class="iconfont">&#xe63c;</i></a>　
				<a class="delete" href="/admin/delete?model=goods_type&id={{ item.id }}"><i class="iconfont">&#xe612;</i></a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% include "../public/pageFooter.html" %}
