{% include "../public/pageHeader.html" %}

<div class="iframe-content">
  <h1>添加轮播图</h1>
  <form action="/admin/banner/doEdit?_csrf={{ csrf }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{banner.id}}" />
    <div class="form-group">
      <label for="path">跳转地址(不填则不跳转)</label>
      <input type="text" class="form-control" id="path" name="path" value="{{banner.path}}" />
    </div>
    <div class="form-group">
      <label for="description">描述</label>
      <input type="text" class="form-control" id="description" name="description" value="{{banner.description}}" required />
    </div>
    <div class="form-group">
      <label for="type">跳转类型</label>
      <select name="type" id="type" class="form-control">
        <option value="1" {{ "selected" if banner.type == 1 }}>内部链接</option>
        <option value="2" {{ "selected" if banner.type == 2 }}>外部链接</option>
      </select>
    </div>
    <div class="form-group">
      <label for="sort">排序(升序)</label>
      <input type="number" class="form-control" id="sort" value="100" name="sort" value="{{banner.sort}}" required />
    </div>
    <div class="form-group">
      <label for="banner">轮播图</label>
      <input type="file" id="banner" name="banner" />
      <img src="{{banner.img_url}}" width="120px" alt="">
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
  </form>
</div>

{% include "../public/pageFooter.html" %}