<%- include ../public/pageHeader.html %>

<div class="home">
  <h1>上传图片</h1>
  <form action="/admin/banner/upload?_csrf=<%= csrf %>" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="username">用户名</label>
      <input type="text" class="form-control" id="username" name="username" required />
    </div>
    <div class="form-group">
      <label for="banner">轮播图</label>
      <input type="file" class="form-control" id="banner" name="banner" multiple="multiple" required />
    </div>
    <button type="submit" class="btn btn-default">提交</button>
  </form>
</div>

<%- include ../public/pageFooter.html %>