<%- include ../public/pageHeader.html %>

<div class="iframe-content">
	<h1>轮播图列表</h1>
	<table class="table table-hover">
		<tr>
			<th>图片</th>
			<th>链接地址</th>
			<th>描述</th>
			<th>跳转方式</th>
			<th>排序</th>
			<th>创建时间</th>
			<th>操作</th>
		</tr>
		<% for (let item of banner) { %>
		<tr>
			<td>
        <img src="<%= item.img_url %>" width="200px" alt="">
      </td>
			<td>
        <p style="width: 240px;word-wrap: break-word">
          <%= item.path != "" ? item.path:"不跳转" %>
        </p>
      </td>
			<td><%= item.description %></td>
			<td><%= item.type == 1 ? "内部链接":"外部链接" %></td>
			<td><%= item.sort %></td>
			<td><%= helper.formatDate(item.add_time) %></td>
			<td>
				<a class="btn btn-danger delete" href="/admin/delete?model=banner&id=<%= item.id %>">删除</a>
			</td>
		</tr>
		<% } %>
	</table>
</div>

<%- include ../public/pageFooter.html %>
