{% include "../public/pageHeader.html" %}

<div class="iframe-content">
	<h1>轮播图列表</h1>
	<table class="table table-hover">
		<tr>
			<th>图片</th>
			<th>链接地址</th>
			<th>描述</th>
			<th>跳转方式</th>
			<th>排序</th>
			<th>创建时间</th>
			<th>操作</th>
		</tr>
		{% for item in banner %}
		<tr>
			<td>
        <img src="{{ item.img_url }}" width="120px" alt="">
      </td>
			<td>
				<p style="width: 240px;word-wrap: break-word">
					{{ item.path if item.path != "" else "不跳转" }}
        </p>
      </td>
			<td>{{ item.description }}</td>
			<td>{{ "内部链接" if item.type == 1 else "外部链接" }}</td>
			<td>{{ item.sort }}</td>
			<td>{{ helper.formatDate(item.add_time) }}</td>
			<td>
				<a href="/admin/banner/edit?id={{ item.id }}"><i class="iconfont">&#xe63c;</i></a>　
				<a class="delete" href="/admin/delete?model=banner&id={{ item.id }}"><i class="iconfont">&#xe612;</i></a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% include "../public/pageFooter.html" %}
