html {
  height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
li {
  list-style: none;
}
a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.hide {
  display: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-page {
  background-image: url(../../public/img/login-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.login-page blockquote,
.login-page q {
  quotes: none;
}
.login-page blockquote:before,
.login-page blockquote:after,
.login-page q:before,
.login-page q:after {
  content: '';
  content: none;
}
.login-page table {
  border-collapse: collapse;
  border-spacing: 0;
}
.login-page a {
  text-decoration: none;
}
.login-page img {
  max-width: 100%;
}
.login-page h1 {
  font-size: 2.4em;
  padding-bottom: 28px;
  color: #fff;
  text-align: center;
}
.login-page h2 {
  font-size: 1.5em;
  padding-bottom: 28px;
  color: #0091e6;
  text-align: center;
}
.login-page .login {
  padding: 2em 0;
}
.login-page .inset {
  position: relative;
  background: #fff;
  padding: 2.5em;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  box-shadow: 0px 0px 15px #545454;
}
.login-page form span {
  display: block;
  font-size: 1.0em;
  color: #333;
  font-weight: 400;
}
.login-page .verify-box {
  display: flex;
  align-items: center;
  width: 93.4%;
  margin: 0 auto;
}
.login-page .verify {
  margin: 3px 0 25px 20px;
}
.login-page input[type="text"],
.login-page input[type="password"],
.login-page select {
  padding: 9px;
  width: 93.4%;
  font-size: 1.1em;
  margin: 3px 0px 25px;
  color: #666666;
  background: #f0f0f0;
  border: none;
  font-weight: 400;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
}
.login-page input[type="text"]:hover,
.login-page input[type="Password"]:hover,
.login-page #active {
  border: none;
  outline: none;
}
.login-page input[type="text"].verify-input {
  width: 50%;
}
.login-page .sign {
  padding: 10px 0 0;
  text-align: center;
}
.login-page .submit {
  margin-right: 11px;
  background: #0091e6;
  border: none;
  outline: none;
  padding: 8px 30px;
  cursor: pointer;
  color: #FFF;
  font-size: 0.9em;
  border-radius: .3em;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  -o-border-radius: .3em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  font-weight: 600;
  margin: 0 auto;
}
.login-page .submit:hover {
  background: #C5C5C5;
}
.login-page .rzm {
  position: relative;
}
.login-page .rzm img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 45px;
}
.login-page h1 {
  font-size: 2.2em;
}
@media (max-width: 991px) {
  .login-page h1 {
    font-size: 2em;
  }
  .login-page h1 {
    font-size: 2.1em;
  }
  .login-page .inset {
    padding: 2em;
  }
  .login-page h1 {
    font-size: 1.9em;
  }
  .login-page .login {
    padding: 2em 0 0;
  }
}
header {
  line-height: 60px;
  background: #3e3f35;
  color: #fff;
  padding: 0 30px;
  margin-bottom: 20px;
}
header .logo {
  font-size: 20px;
}
header .admin-info a {
  color: #fff;
}
.content-box {
  display: flex;
}
aside {
  width: 180px;
  border-right: 1px solid #eee;
}
aside .nav-item h2 {
  line-height: 46px;
  font-size: 18px;
  background: #3f87c5;
  padding-left: 20px;
  color: #fff;
}
aside .nav-item ul {
  overflow: hidden;
  transition: 1s;
}
aside .nav-item ul li {
  font-size: 16px;
  line-height: 36px;
  border-bottom: 1px solid #eee;
  padding-left: 30px;
}
aside .nav-item ul li a {
  color: #000;
}
aside .nav-item .hide-list {
  height: 0;
}
article {
  flex: 1;
}
.iframe-content {
  padding: 0 30px;
}
.iframe-content h1 {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 20px;
}
.table td {
  vertical-align: middle !important;
}
.goods .tab-content {
  margin: 20px 0;
}
