{% include "../public/pageHeader.html" %}
<header>
  <div class="flex">
    <div class="logo">商城管理系统</div>
    <div class="admin-info">
      <span>{{ adminInfo.username }}</span>
      <a href="/admin/loginOut">退出</a>
    </div>
  </div>
</header>
<div class="content-box">
  <aside>
    <div class="nav-item">
      <h2>管理员管理</h2>
      <ul>
        <li><a href="/admin/manager" target="rightMain">管理员列表</a></li>
        <li><a href="/admin/manager/add" target="rightMain">添加管理员</a></li>
      </ul>
    </div>
    <div class="nav-item">
      <h2>角色管理</h2>
      <ul>
        <li><a href="/admin/role" target="rightMain">角色列表</a></li>
        <li><a href="/admin/role/add" target="rightMain">添加角色</a></li>
      </ul>
    </div>
    <div class="nav-item">
      <h2>轮播图管理</h2>
      <ul>
        <li><a href="/admin/banner" target="rightMain">轮播图列表</a></li>
        <li><a href="/admin/banner/add" target="rightMain">添加轮播图</a></li>
      </ul>
    </div>
    <div class="nav-item">
      <h2>商品管理</h2>
      <ul>
        <li><a href="/admin/goodsType" target="rightMain">商品类型</a></li>
        <li><a href="/admin/goodsCate" target="rightMain">商品分类</a></li>
        <li><a href="/admin/goods" target="rightMain">商品</a></li>
      </ul>
    </div>
    <div class="nav-item">
      <h2>会员管理</h2>
      <ul>
        <li><a href="/admin/user" target="rightMain">会员列表</a></li>
        <li><a href="/admin/cart" target="rightMain">购物车查询</a></li>
      </ul>
    </div>
    <div class="nav-item">
      <h2>订单管理</h2>
      <ul>
        <li><a href="/admin/order" target="rightMain">订单列表</a></li>
        <li><a href="/admin/evaluate" target="rightMain">评价管理</a></li>
      </ul>
    </div>
    <div class="nav-item">
      <h2>文章管理</h2>
      <ul>
        <li><a href="/admin/article" target="rightMain">文章列表</a></li>
        <li><a href="/admin/article/add" target="rightMain">添加文章</a></li>
      </ul>
    </div>
    <div class="nav-item">
      <h2>系统配置</h2>
      <ul>
        <li><a href="/admin/pay" target="rightMain">支付系统</a></li>
        <li><a href="/admin/article/add" target="rightMain">系统参数</a></li>
      </ul>
    </div>
  </aside>
  <article>
    <iframe name="rightMain" id="rightMain" src="/admin/welcome" frameborder="false" scrolling="auto" width="100%"></iframe>
  </article>
</div>

{% include "../public/pageFooter.html" %}