<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="refresh" content="3;url=<%=redirectUrl%>">
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <title>失败</title>
</head>
<body>
  <div class="container">
    <div class="alert alert-error">
      <h2><%=msg%></h2>
      <br />
      <p>自动跳转到指定链接。<a href="<%=redirectUrl%>">立即跳转</a></p>
    </div>
  </div>
</body>
</html>