{% include "../public/pageHeader.html" %}

<div class="iframe-content">
  <h1>添加管理员</h1>
  <form method="post" action="/admin/manager/doAdd">
    <input type="hidden" name="_csrf" value="{{ csrf }}">
    <div class="form-group">
      <label for="username">用户名</label>
      <input type="text" class="form-control" id="username" name="username" required />
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" id="password" name="password" required />
    </div>
    <div class="form-group">
      <label for="mobile">手机号</label>
      <input type="text" class="form-control" id="mobile" name="mobile" required />
    </div>
    <div class="form-group">
      <label for="email">邮箱</label>
      <input type="email" class="form-control" id="email" name="email" required />
    </div>
    <div class="form-group">
      <label for="role">角色</label>
      <select class="form-control" name="role_id">
        {% for(let item of role) { }}
        <option value="{{ item.id }}">{{ item.title }}</option>
        {% } }}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
  </form>
</div>

{% include "../public/pageFooter.html" %}