{% include "../public/pageHeader.html" %}

<div class="iframe-content">
	<h1>管理员列表</h1>
	<table class="table table-hover">
		<tr>
			<th>管理员</th>
			<th>手机号</th>
			<th>邮箱</th>
			<th>角色</th>
			<th>创建时间</th>
			<th>状态</th>
			<th>超级管理员</th>
			<th>操作</th>
		</tr>
		{% for item in manager %}
		<tr>
			<td>{{ item.username }}</td>
			<td>{{ item.mobile }}</td>
			<td>{{ item.email }}</td>
			<td>{{ item.role_title }}</td>
			<td>{{ helper.formatDate(item.add_time) }}</td>
			<td>
				{% if item.status == 1 %}
					<img src="../../../public/img/yes.gif" onclick="app.changeStatus(this,'admin','{{item.id}}')" alt="">
				{% else %}
					<img src="../../../public/img/no.gif" onclick="app.changeStatus(this,'admin','{{item.id}}')" alt="">
				{% endif %}
			</td>
			<td>{{ '是' if item.is_super == 1 else '否' }}</td>
			<td>
				<a href="/admin/manager/edit?id={{ item.id }}"><i class="iconfont">&#xe63c;</i></a>　
				<a class="delete" href="/admin/delete?model=admin&id={{ item.id }}"><i class="iconfont">&#xe612;</i></a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% include "../public/pageFooter.html" %}